# Python
__pycache__/
*.pyc
venv/

# Data (important for your thesis)
data/
datasets/
images/
aljazeera/
aljazeera/*/*.txt
aljazeera/*/*/*.jpg
*/*.jpg
*/*.png


*.zip
*.zip
scraped_content.zip
# Models
*.pt
*.pth

# Mac
.DS_Store


.env
